name: "Build, Test, and Deploy"

on:
  push:
    branches:
      - main
      # - arturo_dev

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Get repo name
        run: |
          echo "REPO_NAME=$(basename ${{github.repository}})" >> $GITHUB_ENV
      - name: Fetch changes, build and deploy
        env:
          VPS_KEY: "${{secrets.VPS_KEY}}"
          VPS_USER: "${{secrets.VPS_USER}}"
          VPS_HOST: "${{secrets.VPS_HOST}}"
        run: |
            echo "Deploying to VPS..."
            echo  "${VPS_KEY}" > private.key && chmod 600 private.key;
            ssh -o StrictHostKeyChecking=no -i private.key $VPS_USER@$VPS_HOST bash -s << EOF
                set -e
                cd \~/$REPO_NAME || exit 1
                git pull origin main || exit 1
                docker compose -p gotravix --env-file .env -f docker/docker-compose-prod.yml build --pull --no-cache || exit 1
                docker compose -p gotravix --env-file .env -f docker/docker-compose-prod.yml up -d --remove-orphans || exit 1
                echo "Deployment completed successfully."
            EOF

        shell: bash